@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  /*src: url(https://fonts.gstatic.com/s/bebasneue/v9/JTUSjIg69CK48gW7PXooxW4.ttf) format('truetype');*/
  src: url("BebasNeue.woff2");
}
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  /*src: url(https://fonts.gstatic.com/s/bitter/v28/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8fbfCL8.ttf) format('truetype');*/
  src: url("Bitter.woff2");
}

:root {
	--bg-color: #0e0021;
	--bg-color-transparent: #0e002188;
	--fg-color: #888a85;
	--fg-color-brighter: #c0bbbb;
	--accent-color: #5e5081;
	--accent-color-bright1: #dc5e86;
	--accent-color-bright2: #9edc60;
}

body {
	background: var(--bg-color);
	color: var(--fg-color);
	font-family: 'Bitter', serif;
	font-weight: 600;
}

#bg_container {
	/*background-color: #20001b;*/
	background-color: #210122;
	background-image: url("bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: top;
	background-position-y: center;
	position: absolute;
	height: 100%;
	z-index: 10;
	width: 100%;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
}
#content_container {
	position: absolute;
	z-index: 20;
}

h1 {
	font-family: 'Bebas Neue', sans;
	color: var(--fg-color-brighter);
	font-size: 53.6px;
	margin-top: 0;
	margin-bottom: -2px;
}

a {
	font-weight: 900;
	color: var(--accent-color-bright2);
}

a:hover {
	color: var(--accent-color-bright1);
}

#links {
	margin-top: 14px;
	margin-bottom: 28px;
	font-size: 160%;
	/*list-style: none;*/
	font-family: 'Bebas Neue', sans;
}
#links ul{
	margin-top: 10px;
	margin-bottom: 14px;
}

#content_container {
	background: var(--bg-color-transparent);
}

#main_text {
	padding: 4px 6px;
	background: var(--fg-color);
	color: var(--bg-color);
	width: 384px;
}

#logo_container {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 15;
}
#logo {
	/*width: 392px;*/
	/*width: 196px;*/
	width: 294px;
	opacity: 0.8;
}

::selection,
::-moz-selection {
	background: var(--accent-color-bright1);
	color: var(--bg-color);
}
