@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  /*src: url(https://fonts.gstatic.com/s/bebasneue/v9/JTUSjIg69CK48gW7PXooxW4.ttf) format('truetype');*/
  src: url("BebasNeue.woff2");
}
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  /*src: url(https://fonts.gstatic.com/s/bitter/v28/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8fbfCL8.ttf) format('truetype');*/
  src: url("Bitter.woff2");
}

:root {
	--bg-color: #0e0021;
	--bg-color-transparent: #0e002188;
	--fg-color: #888a85;
	--fg-color-brighter: #c0bbbb;
	--accent-color: #5e5081;
	--accent-color-bright1: #dc5e86;
	--accent-color-bright2: #9edc60;

	--standard-padding: 6px;
}

/* layout */

#bg_container {
	/*background-color: #20001b;*/
	background-color: #210122;
	background-image: url("bg.jpg");
	background-size: cover;
	background-position-x: center;
	background-position-y: top;
	background-position-y: center;
	min-height: 100%;
	height: auto;
	z-index: 10;
	width: 100%;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
	position: absolute;
	overflow-y: scroll;
}
#content_container {
	position: relative;
	z-index: 20;
	background: var(--bg-color-transparent);
	/*margin-right: 8px;*/
	margin: 8px;
	max-width: 410px;
}

#logo_container {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 15;
}
#logo {
	/*width: 392px;*/
	/*width: 196px;*/
	width: 294px;
	/*opacity: 0.82;*/
	/*opacity: 0.62;*/
	opacity: 0.66;
}


/* generic */

body {
	background: var(--bg-color);
	color: var(--fg-color);
	font-family: 'Bitter', serif;
	font-weight: 600;
}

h1 {
	font-family: 'Bebas Neue', sans;
	color: var(--fg-color-brighter);
	font-size: 53px;
	line-height: 45px;
	margin-top: 8px;
	margin-bottom: 1px;
	padding: 0 var(--standard-padding);
}

a {
	font-weight: 900;
	color: var(--accent-color-bright2);
	white-space: nowrap;
}

a:hover {
	color: var(--accent-color-bright1);
}

.emoji {
	display: inline-block;
	filter: hue-rotate(30deg);
	margin: 0;
	margin-top: 1px;
	vertical-align: bottom;
}

.nobr {
	white-space: nowrap;
}

::selection,
::-moz-selection {
	background: var(--accent-color-bright1);
	color: var(--bg-color);
}


/* specific areas */

#main_text {
	padding-top: 3px;
	padding-left: var(--standard-padding);
	padding-right: var(--standard-padding);
	padding-right: 8px;
	padding-bottom: 2px;
	font-size: 16px;
	line-height: 20px;
	background: var(--fg-color);
	color: var(--bg-color);
}

#main_text p {
	display: inline;
	vertical-align: top;
}


#links {
	margin-top: 0;
	margin-bottom: 28px;
	font-size: 160%;
	/*list-style: none;*/
	font-family: 'Bebas Neue', sans;
	padding: 0 var(--standard-padding);
	color: var(--fg-color-brighter);
}

/*#links .block:first-child {*/
/*	margin-top: 8px;*/
/*}*/

#links .block {
	margin-top: 11px;
	margin-bottom: 0;
}

#links ul {
	color: var(--fg-color);
	margin-top: 10px;
	margin-top: 0;
	margin-bottom: 14px;
	margin-bottom: 0;
	padding-left: 32px;
	line-height: 26px;
}
#links ul li {
	margin-bottom: 3px;
}
