@font-face {
  font-family: 'Handjet';
  font-style: normal;
  font-display: swap;
  src: url("Handjet-VariableFont_ELGR,ELSH,wght.ttf");
}


:root {
	--bg-color: #0e0021;
	--bg-color-transparent: #0e002188;
	--fg-color: #888a85;
	--fg-color-brighter: #c0bbbb;
	--accent-color: #5e5081;
	--accent-color-bright1: #dc5e86;
	--accent-color-bright2: #9edc60;

	--standard-padding: 6px;

	--fw-body: 400;
	--fw-text: 500;
	--fw-headline: 600;
	--fw-link: 600;
	--fw-link: 500;

	/*--font-family: 'Dosis';*/
	/*--fs-body: 20px;*/
	/*--fs-text: 20px;*/
	/*--fs-headline: 53px;*/
	/*--fs-headline: 40px;*/
	/*--fs-link: 24px;*/

	--font-family: 'Handjet';
	--fs-body: 26px;
	--fs-text: 26px;
	--fs-headline: 56px;
	--fs-link: 30px;
}

/* layout */

#bg_container {
	/*background-color: #20001b;*/
	background-color: #210122;
	background-image: url("bg.jpg");
	background-size: cover;
	background-position-x: center;
	background-position-y: top;
	background-position-y: center;
	min-height: 100%;
	height: auto;
	z-index: 10;
	width: 100%;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
	position: absolute;
	overflow-y: scroll;
}
#content_container {
	position: relative;
	z-index: 20;
	background: var(--bg-color-transparent);
	/*margin-right: 8px;*/
	margin: 8px;
	max-width: 410px;
}

#logo_container {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 15;
}
#logo {
	/*width: 392px;*/
	/*width: 196px;*/
	width: 294px;
	/*opacity: 0.82;*/
	/*opacity: 0.62;*/
	opacity: 0.66;
}


/* generic */

body {
	font-family: var(--font-family), sans;
	background: var(--bg-color);
	color: var(--fg-color);
	font-size: var(--fs-body);
	font-weight: var(--fw-body);
}

h1 {
	font-family: var(--font-family), sans;
	color: var(--fg-color-brighter);
	line-height: 45px;
	margin-top: 8px;
	margin-bottom: 3px;
	padding: 0 var(--standard-padding);
	text-transform: uppercase;
	font-weight: var(--fw-headline);
	font-size: var(--fs-headline);
}

a {
	font-weight: var(--fw-link);
	color: var(--accent-color-bright2);
	white-space: nowrap;
}

a:hover {
	color: var(--accent-color-bright1);
}

.emoji {
	display: inline-block;
	filter: hue-rotate(30deg);
	margin: 0;
	margin-top: 1px;
	vertical-align: bottom;
}

.nobr {
	white-space: nowrap;
}

::selection,
::-moz-selection {
	background: var(--accent-color-bright1);
	color: var(--bg-color);
}


/* specific areas */

#main_text {
	padding-top: 3px;
	padding-left: var(--standard-padding);
	padding-right: var(--standard-padding);
	padding-right: 8px;
	padding-bottom: 6px;
	font-size: var(--fs-text);
	font-weight: var(--fw-text);
	line-height: var(--fs-text);
	background: var(--fg-color);
	color: var(--bg-color);
}

#main_text p {
	display: inline;
	vertical-align: top;
}


#links {
	margin-top: 0;
	margin-bottom: 28px;
	font-size: var(--fs-link);
	/*list-style: none;*/
	font-family: var(--font-family), sans;
	padding: 0 var(--standard-padding);
	padding-top: 6px;
	color: var(--fg-color-brighter);
}

/*#links .block:first-child {*/
/*	margin-top: 8px;*/
/*}*/

#links .block {
	margin-top: 11px;
	margin-bottom: 0;
	text-transform: uppercase;
}

#links ul {
	text-transform: none;
	color: var(--fg-color);
	margin-top: 10px;
	margin-top: 0;
	margin-bottom: 14px;
	margin-bottom: 0;
	padding-left: 32px;
	/*line-height: 26px;*/
}
#links ul li {
	margin-bottom: 3px;
}
#links ul ul {
	padding-left: 0;
}
#links ul ul li {
	margin-left: 29px;
}
